<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div class="app">
    <template v-for="branch in branches">
      <input type="radio" :value="branch" v-model="currentBranch">{{branch}}</template>
    <p>vuejs/vue@{{ currentBranch }}</p>
    <ul>
      <li v-for="records in commits">
        <a :href="records.html_url" target="_blank" >更新紀錄</a>
        -
        by <span><a :href="records.author.html_url"
            target="_blank">{{ records.commit.author.name }}</a></span>
        at <span>{{ records.commit.author.date  }}</span>
      </li>
    </ul>
  </div>

  <script src="/lib/vue.js"></script>
  <script>
    var apiURL = "https://api.github.com/repos/vuejs/vue/commits?per_page=3&sha="
    var app = new Vue({
      el: ".app",
      data: {
        branches: ["master", "dev"],
        currentBranch: "master",
        commits: null
      },
      created: function () {
        this.fetchData()
      },
      watch: {
        currentBranch: "fetchData"
      },
      methods: {
        fetchData: function () {
          var xhr = new XMLHttpRequest()
          var self = this
          xhr.open("get",apiURL+self.currentBranch)
          xhr.onload = function () {
            self.commits = JSON.parse(xhr.responseText)
            console.log(self.commits)
          }
          xhr.send()
        }
      }
    })
  </script>
</body>

</html>